<header>
	<div id="searchField">
		<input id="searchInput" type="input" name="search" placeholder="Pesquise aqui(Somente ID)!!">
		<div id="divNameInputs">
			<input id="firstName" type="input" name="firstName" placeholder="Nome">
			<input id="surname" type="input" name="surname" placeholder="Sobrenome">
		</div>
		<div id="divNameInputs">
			<input id="emailInput" type="input" name="email" placeholder="Email">
			<input id="password" type="input" name="password" placeholder="Senha">
		</div>
	</div>
	<div id="divButtons">
		<button id="CREATE">Criar</button>
		<button id="READ">Pegar</button>
		<button id="UPDATE">Atualizar</button>
		<button id="DELETE">Deletar</button>
	</div>
</header>